@font-face {
  font-family: 'Fraunces';
  src: url('../assets/Font/Fraunces-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
